/***** GENRAL ******/
 html {
    height: 100%;

 }

 body{
    /* trim green: #07c17a; */
    background-color: #232323;
    font-family: 'Exo', sans-serif;
    height: 100%;
 }


 label {
     display: block;
     color: #e3e8e3;
 }

 h1, h2, h3 {
    text-align: center;
    color: #e3e8e3;
 }

 ul {
     list-style-type: none;
 }

 ul li {
     display: inline;
 }

 input {
   border-radius: 3px;
   background-color: #232323;
   border: 2px solid #d1d1d1;
   color: #07c17a;
 }


 .form-style {
     border: 2px solid grey;
     width: 400px;
     width: 100px;
     border-radius: 3px;
     margin: auto;
 }

 a.anchor-link {
     background-color: #07c17a;
     border-radius: 3px;
     padding: 5px 5px 5px 5px;
     display: inline;
     text-decoration: none;
     color: #e3e8e3;
     margin: 50px auto;
 }

 .anchor-link:hover{
     background: #70e5cd;
 }

 .delete-button{
     border: none;
     width: 100px;
     display: inline;
     float: right;
     padding: none;
 }

.delete-button input{
    background-color: #07c17a;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 75px;
    font-family: 'Exo', sans-serif;
}

/***** LAYOUT PAGE ******/

.nav {
    margin-top: 25px;
    margin-right: 20px;
}

.errors ul li {
    display: block;
}

/***** HOME PAGE ******/


 form < input {
     margin-left: 50px;
 }

.home-page-content {
    margin: 20% 25% 0 25%;
    border: 2px solid #07c17a;
    border-radius: 3px;
    padding: 5px 0 5px 0;


}

h1.signup {
    text-align: center;
}

h2.home-title {
    text-align: center;
}

.signup-login-links {
     text-align: center;
     border: 3px solid #07c17a;
     border-radius: 5px;
     height: 50px;
     width: 280px;
     margin: auto;
     color: white;
}

.signup-link {
     display: inline-block;
     padding-top: 10px;
     padding-right: 20px;
     font-size: 1.2em;
     text-decoration: none;
}

.login-link {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
}


/***** SIGNUP PAGE ******/

h1.signup {
    text-align: center;
}

#email {
    background-color: #232323;
    border-right: 2px solid white;

}

div.errors ul li {
    color: white;
}

.signup-form {
    width: 100%;
    margin: auto;
}

.signup-form form {
    margin: 0 auto;
    width: 206px;
    padding: 50px;
}


 input[value='Signup']{
     background-color: #07c17a;
     border: none;
     color: white;
     width: 206px;
     height: 36px;
     font-size: 1em;

 }
 input[value='Signup']:hover {
      background-color: #70e5cd;
 }


/***** LOGIN PAGE ******/


h1.login {
    text-align: center;
}

.login-form {
    width: 100%;
    margin: auto;
}

.login-form form {
    margin: 0 auto;
    width: 206px;
    padding: 50px;
}

input#username, input#email, input#password{
    margin-bottom: 10px;
    background-color: #232323;
    width: 200px;
    height: 30px;
    font-size: 1em;
}

input[value='Login']{
    background-color: #07c17a;
    border: none;
    color: white;
    width: 206px;
    height: 36px;
    font-size: 1em;

}
input[value='Login']:hover {
     background-color: #70e5cd;
}
/***** DECKS PAGE ******/
.wrapper {
    flex-direction: column;
    margin: auto;
}

.deck {
    background-color: #3f3f3f;
    border-radius: 3px;
    max-width: 90%;
    max-height: 100px;
    padding: 20px 10px 20px 10px;
    margin: auto;
}
 .deck .anchor-link {
    position: absolute;
    right: 90px;
    margin: auto;
    padding: 5px 5px 5px 5px;
 }

.acc-create-deck {
    text-align: center;
    margin: 100px auto;
}
 .errors {
     color: white;
 }

 /***** CREATE DECK PAGE ******/

 .create-deck {
     width: 100%;
     margin: auto;
 }

 .create-deck form {
     margin: 0 auto;
     width: 206px;
     padding: 50px;
 }

 input#title, input#category{
     margin-bottom: 10px;
     background-color: #232323;
     width: 200px;
     height: 30px;
     font-size: 1em;
 }

  input[value='Create']{
      background-color: #07c17a;
      border: none;
      color: white;
      width: 206px;
      height: 36px;
      font-size: 1em;

  }
  input[value='Create']:hover {
       background-color: #70e5cd;
  }


/***** EDIT DECK PAGE ******/

.edit-deck h3 {
    text-align: left;
}

.edit-deck {
    width: 100%;
    margin: auto;
}

.edit-deck form {
    margin: 0 auto;
    width: 206px;
}

input#title, input#category{
    margin-bottom: 10px;
    background-color: #232323;
    width: 200px;
    height: 30px;
    font-size: 1em;
}

 input[value='Edit'], input[value='Delete']{
     background-color: #07c17a;
     border: none;
     color: white;
     width: 206px;
     height: 36px;
     font-size: 1em;
     margin: auto;

 }
 input[value='Edit']:hover {
      background-color: #70e5cd;
 }

 input[value='Delete']:hover {
      background-color: #70e5cd;
 }

 div.edit-deck .anchor-link {
     text-align: center;
     display: block;
     width: 196px;
     border: none;
     height: 26px;
     margin: 5px auto;
 }


/***** SHOW CARDS PAGE/SHOW DECK PAGE ******/

.card {
    background-color: #3f3f3f;
    border-radius: 3px;
    max-width: 80%;
    max-height: 100px;
    padding: 20px 20px 20px 20px;
    margin: auto;
}

strong.card-info {
    color: white;
    margin-right: 20px;
    padding:10px 20px 10px 10px;
    border-right: 1px solid grey;
    font-size: .9em;

}

strong.deck-info {
    color: white;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid grey;

}

.delete-button{
    border: none;
    width: 75px;
    display: inline;
    float: right;
}

.delete-button input{
   background-color: #07c17a;
   border: none;
   border-radius: 3px;
   height: 30px;
   width: 75px;
   font-family: 'Exo', sans-serif;
}

/***** CREATE CARD PAGE ******/

.create-card h3 {
    text-align: left;
}

.create-card {
    width: 100%;
    margin: auto;
}

.create-card form {
    margin: 0 auto;
    width: 206px;
}

input#front_side, input#back_side {
    margin-bottom: 10px;
    background-color: #232323;
    width: 200px;
    height: 30px;
    font-size: 1em;
}

 input[value='Create'] {
     background-color: #07c17a;
     border: none;
     color: white;
     width: 206px;
     height: 36px;
     font-size: 1em;
     margin: 5px 0;

 }

 input[value='Create']:hover {
      background-color: #70e5cd;
 }

 /***** CREATE CARD PAGE ******/

 .edit-card h3 {
     text-align: left;
 }

 .edit-card {
     width: 100%;
     margin: auto;
 }

 .edit-card form {
     margin: 0 auto;
     width: 206px;
 }

 input#front_side, input#back_side {
     margin-bottom: 10px;
     background-color: #232323;
     width: 200px;
     height: 30px;
     font-size: 1em;
 }

  input[value='Edit'] {
      background-color: #07c17a;
      border: none;
      color: white;
      width: 206px;
      height: 36px;
      font-size: 1em;
      margin: 5px 0;

  }

  input[value='Edit']:hover {
       background-color: #70e5cd;
  }

  div.edit-card .anchor-link {
      text-align: center;
      display: block;
      width: 196px;
      border: none;
      height: 26px;
      margin: auto;
  }

 /***** SHOW CARD PAGE ******/

 div.edit-card form.delete-card {
        text-align: center;
        width: 206px;

 }

 form.learnt-button {
        width: 200px;
        display: inline;
 }

 input[value='Learnt?'] {
     background-color: #07c17a;
     border: none;
     color: white;
     width: 206px;
     height: 36px;
     font-size: 1em;
     margin: 5px 0;
     text-align: center;

 }

 input[value='Learnt?']:hover {
      background-color: #70e5cd;
 }

 input[value='Next card'] {
     background-color: #07c17a;
     border: none;
     color: white;
     width: 206px;
     height: 36px;
     font-size: 1em;
     margin: 5px 0;
     text-align: center;

 }

 input[value='Next card']:hover {
      background-color: #70e5cd;
 }


/***** ACCOUNT SETTINGS PAGE ******/


.change-password {
    width: 100%;
    margin: 50px auto;
}

.change-password form{
    margin: 0 auto;
    width: 206px;
}



input[value='Delete Account'], input[value='Change Password']{
    background-color: #07c17a;
    border: none;
    color: white;
    width: 206px;
    height: 36px;
    font-size: 1em;
    margin: 5px 0px;

}
 input[value='Change Password']:hover {
     background-color: #70e5cd;
}

input[value='Delete Account']:hover {
    background-color: #70e5cd;
}
