<h1>Change Password</h1>
<div class="change-password">
    <form action="/users/<%=current_user.id%>" method="post">
        <label for="password">New Password</label>
        <input id="password" type="password" name="password">
        <input type="submit" value="Change Password">
    </form>
    <form action="/users/<%=current_user.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Account">
    </form>
</div>
