<h1><%=current_user.username%></h1>

<h2>Your Account</h2>
<p>You have <%=current_user.decks.all.size%> decks</p>

<p>Categories include</p>
<%current_user.decks.each do |deck|%>
    <p><%=deck.title%></p>
<%end%>
    <a href="/users/current_user.id/decks/<%=deck.id%>">View Deck</a>
<%end%>
