<h1><%=@user.username%></h1>

<h2>Your Account</h2>
<p>You have <%=@user.decks.all.size%> decks</p>

<p>Categories include</p>
<%@user.decks.each do |deck|%>
    <p><%=deck.title%></p>
<%end%>
    <a href="/decks/<%=deck.id%>">View Deck</a>
<%end%>
