<form action="/cards" method="post">
    <label for="front_side"></label>
    <input type="text" name="front_side" value="front_side">
    <br>
    <label for="back_side_of_card"></label>
    <input type="text" name="back_side_of_card" value="back_side_of_card">
    <br>
    <input type="submit" name="Create" value="submit">
</form>
