<h1>Create A New Deck</h1>
<div class="create-deck">
    <form role="form" action="/users/<%=current_user.id%>/decks" method="post">
        <label for="title">Title</label>
        <input id="title" type="text" name="title">
        <br>
        <label for="category">Category</label>
        <input id="category" type="text" name="category">
        <br>
        <input class="anchor-link" type="submit" name="Create" value="Create">
    </form>
</div>
