<h1>Create A New Deck</h1>
<form role="form" action="/users/<%=current_user.id%>/decks" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">
    <br>
    <label for="category">Category</label>
    <input type="text" name="category">
    <br>
    <input class="anchor-link" type="submit" name="Create" value="Create">
</form>

<a class="anchor-link" href="/users/<%=current_user.id%>/decks">Return to your decks</a>
