<form role="form" action="/decks/<%=@deck.id%>" method="post">
    <input type="hidden" name="patch" value="_method">
    <h3><%=@deck.title%></h3>
    <label for="title">Title</label>
    <input type="text" name="title">
    <br>
    <h3><%=@deck.category%></h3>
    <label for="category">Category</label>
    <input type="text" name="category">
    <br>
    <input type="submit" name="Edit" value="Edit">
</form>

<a href="/users/<%=@deck.user.id%>/decks">Return to your decks</a>
