<div class="home-page-content">
    <h2 class="home-title">Lembra Flashcard App</h2>
    <div class="signup-login-links">
        <a class="signup-link" href="/signup">Signup</a>
        <a class="login-link" href="/login">Login</a>
    </div>
</div>
