<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <title>Lembra Flashcard App</title>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    </head>
    <body>
        <header role="header">
                <a class="anchor-link" href="/">Home</a>
                <a class="anchor-link" href="/logout">Logout</a>
            </nav>
        </header>

          <%= yield %>
    </body>
</html>
