<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header role="header">
            <nav role="navigation">
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
          <!-- <% flash.keys.each do |type| %>
              <div data-alert class="flash <%= type %> alert-box radius">
                <%= flash[type] %>
                <a href="#" class="close">&times;</a>
              </div>
          <% end %> -->
          <%= yield %>
    </body>
</html>
