<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <title>Lembra Flashcard App</title>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    </head>
    <body>
        <header role="header">
                <a class="anchor-link" href="/">Home</a>
                <a class="anchor-link" href="/logout">Logout</a>
            </nav>
        </header>
        <%if flash[:message]%>
            <div class="errors">
                <ul>
                <%flash[:message].each do |error, message|%>
                    <li><%=error.capitalize.to_s.gsub("_", " ")%>: <%=message[0]%></li>
                <%end%>
                </ul>
            </div>
        <%end%>
          <%= yield %>
    </body>
</html>
