<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header role="header">
            <nav role="navigation">
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        
          <%= yield %>
    </body>
</html>
