<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <title>Lembra Flashcard App</title>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    </head>
    <body>
        <header role="header">
            <nav role="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>

          <%= yield %>
    </body>
</html>
